

   
   .phone{
   
   background-color: aquamarine;
   padding: 5rem;
   border-radius: 15px;
   width: 20rem;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   }
   
   .phone input{
       border-radius: 6px;
       outline: none;
       border: none;
       width: 10rem;
       height: 2rem;
       margin-top: 10px;
   }
   
   button{
       margin-top: 1rem;
       border: none;
       outline: none;
       width: 5rem;
       height: 2rem;
       border-radius: 6px;
       background-color: white;
       cursor: pointer;
       color: black;
   }